In [3]:
import pandas as pd 
import numpy as np

**Given the following confusion matrix, evaluate (by hand) the model's performance.**


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

* In the context of this problem, what is a false positive?

Predicted Dog and Actual Cat

* In the context of this problem, what is a false negative?

Predicted Cat and Actual Dog

* How would you describe this model?

In [106]:
tp = 46
tn = 34
fp = 13
fn = 7
accuracy = (tp + tn) / (tp + tn + fp + fn)
accuracy

0.8

**You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.**

**Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.**

**Use the predictions dataset and pandas to help answer the following questions:**

In [13]:
df = pd.read_csv('c3.csv')
df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [9]:
df.shape

(200, 3)

* An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [20]:
m1_counts = pd.crosstab(df.actual, df.model1)
tp1 = m1_counts.iloc[0,0] #rows, columns
fn1 = m1_counts.iloc[0,1]
fp1 = m1_counts.iloc[1,0]
tn1 = m1_counts.iloc[1,1]
m1_counts

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [21]:
m2_counts = pd.crosstab(df.actual, df.model2)
tp2 = m2_counts.iloc[0,0] #rows, columns
fn2 = m2_counts.iloc[0,1]
fp2 = m2_counts.iloc[1,0]
tn2 = m2_counts.iloc[1,1]
m2_counts

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [36]:
m3_counts = pd.crosstab(df.actual, df.model3)
tp3 = m3_counts.iloc[0,0] #rows, columns
fn3 = m3_counts.iloc[0,1]
fp3 = m3_counts.iloc[1,0]
tn3 = m3_counts.iloc[1,1]
m3_counts

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [34]:
model1_test = tp1 / (tp1+fn1)
print('Model 1 - ',model1_test)
model2_test = tp2 / (tp2+fn2)
print('Model 2 - ',model2_test)
model3_test = (tp3 / (tp3+fn3))
print('Model 3 - ',model3_test)

Model 1 -  0.5
Model 2 -  0.5625
Model 3 -  0.8125

In [39]:
#checking mean to model test
pos_actuals1 = df[df.actual == 'Defect']
print((pos_actuals.actual == pos_actuals.model1).mean())
pos_actuals2 = df[df.actual == 'Defect']
print((pos_actuals.actual == pos_actuals.model2).mean())
pos_actuals3 = df[df.actual == 'Defect']
print((pos_actuals.actual == pos_actuals.model3).mean())

0.5
0.5625
0.8125

* Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

positive case = 'defect'

negative case = 'no defect'

false negatives = when i predicted no defect, but there was a defect

false positives = when i predicted defect, but there was no defect

recall = minimize false negatives, looking at positive actuals

precision = minimize false positives, looking at positive predictions

In [40]:
model1_test = tp1 / (tp1+fp1)
print('Model 1 - ',model1_test)
model2_test = tp2 / (tp2+fp2)
print('Model 2 - ',model2_test)
model3_test = (tp3 / (tp3+fp3))
print('Model 3 - ',model3_test)

Model 1 -  0.8
Model 2 -  0.1
Model 3 -  0.13131313131313133

**You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).**

**At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).**

**Several models have already been developed with the data, and you can find their results here.**

**Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:**

In [57]:
paws_df = pd.read_csv('gives_you_paws.csv')
paws_df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [59]:
paws_df.actual.mode()

0    dog
Name: actual, dtype: object

In [61]:
paws_df.actual.value_counts()

actual
dog    3254
cat    1746
Name: count, dtype: int64

In [62]:
baseline_accuracy = 3254 / (3254 + 1746)
print("Baseline Accuracy:", baseline_accuracy)

Baseline Accuracy: 0.6508

**A. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?**

In [66]:
paw1_counts = pd.crosstab(paws_df.actual, paws_df.model1)
tp1 = paw1_counts.iloc[1,1] #rows, columns
fn1 = paw1_counts.iloc[1,0]
fp1 = paw1_counts.iloc[0,1]
tn1 = paw1_counts.iloc[0,0]
paw1_counts

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [67]:
paw2_counts = pd.crosstab(paws_df.actual, paws_df.model2)
tp2 = paw2_counts.iloc[1,1] #rows, columns
fn2 = paw2_counts.iloc[1,0]
fp2 = paw2_counts.iloc[0,1]
tn2 = paw2_counts.iloc[0,0]
paw2_counts

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [68]:
paw3_counts = pd.crosstab(paws_df.actual, paws_df.model3)
tp3 = paw3_counts.iloc[1,1] #rows, columns
fn3 = paw3_counts.iloc[1,0]
fp3 = paw3_counts.iloc[0,1]
tn3 = paw3_counts.iloc[0,0]
paw3_counts

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [69]:
paw4_counts = pd.crosstab(paws_df.actual, paws_df.model4)
tp4 = paw4_counts.iloc[1,1] #rows, columns
fn4 = paw4_counts.iloc[1,0]
fp4 = paw4_counts.iloc[0,1]
tn4 = paw4_counts.iloc[0,0]
paw4_counts

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [71]:
model1_test = (tp1 + tn1) / (tp1 + tn1 + fp1 + fn1)
print('Model 1 - ',model1_test)
model2_test = (tp2 + tn2) / (tp2 + tn2 + fp2 + fn2)
print('Model 2 - ',model2_test)
model3_test = (tp3 + tn3) / (tp3 + tn3 + fp3 + fn3)
print('Model 3 - ',model3_test)
model4_test = (tp4 + tn4) / (tp4 + tn4 + fp4 + fn4)
print('Model 4 - ',model4_test)

Model 1 -  0.8074
Model 2 -  0.6304
Model 3 -  0.5096
Model 4 -  0.7426

**B. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?**

In [73]:
model1_test = tp1 / (tp1+fn1)
print('Model 1 - ',model1_test)
model2_test = tp2 / (tp2+fn2)
print('Model 2 - ',model2_test)
model3_test = (tp3 / (tp3+fn3))
print('Model 3 - ',model3_test)
model4_test = (tp4 / (tp4+fn4))
print('Model 4 - ',model4_test)
#model 4

Model 1 -  0.803318992009834
Model 2 -  0.49078057775046097
Model 3 -  0.5086047940995697
Model 4 -  0.9557467732022127

**C. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?**

In [74]:
model1_test = tp1 / (tp1+fn1)
print('Model 1 - ',model1_test)
model2_test = tp2 / (tp2+fn2)
print('Model 2 - ',model2_test)
model3_test = (tp3 / (tp3+fn3))
print('Model 3 - ',model3_test)
model4_test = (tp4 / (tp4+fn4))
print('Model 4 - ',model4_test)
#model 2

Model 1 -  0.803318992009834
Model 2 -  0.49078057775046097
Model 3 -  0.5086047940995697
Model 4 -  0.9557467732022127

**Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.**

In [77]:
from sklearn.metrics import *

* sklearn.metrics.accuracy_score

In [103]:
accuracy_score(paws_df.actual, paws_df.model1)
for i in range (1,5):
    model_name = f'model{i}'
    print(model_name, accuracy_score(paws_df.actual, paws_df[model_name]))

model1 0.8074
model2 0.6304
model3 0.5096
model4 0.7426

* sklearn.metrics.precision_score

In [107]:
precision_score(paws_df.actual, paws_df.model1, pos_label='cat')

0.6897721764420747

* sklearn.metrics.recall_score

In [108]:
recall_score(paws_df.actual, paws_df.model1, pos_label='dog')

0.803318992009834

* sklearn.metrics.classification_report

In [104]:
for i in range (1,5):
    model_name = f'model{i}'
    print(model_name, classification_report(paws_df.actual, paws_df[model_name]))

model1               precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

model2               precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

model3               precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

model4               precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000